[submodule "ai-azureStay"]
    path = ai-azureStay
    # to:
    url = https://github.com/zainabzahid711/ai-azureStay.git

[submodule "demo-project"]
    path = demo-project
    # to:
    url = https://github.com/zainabzahid711/demo-project.git

[submodule "demo-strapi"]
    path = demo-strapi
    # to:
    url = https://github.com/zainabzahid711/demo-strapi.git